html {
	background-color: #36473c;
}

* {
	margin: 0;
	padding: 0;
}

body {
	font-size: 16px;
}

#bg {
	position: fixed;
	top: -50%;
	left: -50%;
	width: 200%;
	height: 200%;
	z-index: -9999;
}

#bg img {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	min-width: 50%;
	min-height: 50%;
	border: none;
}

#header {
	padding: 30px 30px 0 50px;
	font-family: Lato, 'Open Sans', Helvetica, Arial, sans-serif;
	color: #fff;
	font-size: 600%;
	line-height: 120%;
	font-weight: 100;
}

#content {
	background: #111;
	background: rgb(0, 100, 177);
	background: rgba(0, 0, 0, 0.4);
	width: 520px;
	margin: 80px 30px;
	text-align: left;
}

p { 
	padding: 0 30px 20px 30px; 
	color: #fff; 
	font-size: 120%;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	line-height: 130%;
}

a {
	color: #fc0;
	text-decoration: none;
}

.link svg {
	fill: #fc0;
}

.link {
	display: block;
	overflow: hidden;
	margin: 0 30px;
	padding: 20px 30px;
	border-bottom: rgba(255, 255, 255, 0.4) 1px dotted;
	outline: none;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-size: 150%;
	transition: 0.3s;
}

.link:hover {
	background-color: rgba(255, 255, 255, 0.2);
}

.link * {
	vertical-align: bottom;
}

.name {
	margin-left: 10px;
}

#social {
	padding: 0 0 25px;
}

.desc-link {
	display: inline-block;
	color: #fc0;
	text-decoration: none;
}

.desc-link::after {
	content: '';
	display: block;
	width: 0;
	height: 2px;
	background: #fc0;
	transition: width 0.3s;
}

.desc-link:hover::after {
	width: 100%;
}

#description {
	padding-bottom: 10px;
}

@media only screen and (max-device-width: 640px) {
	#content {
		width:90%;
	}

	#content *{
		font-size: 150%;
	}

	#header {
		font-size: 700%;
	}
	
	a {
		
	}
}