html {
	background-color: #fff;
}

* {
	margin: 0;
	padding: 0;
}

#bg {
	position:fixed;
	top:-50%;
	left:-50%;
	width:200%;
	height:200%;
	z-index: -9999;
}

#bg img {
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	margin:auto;
	min-width:50%;
	min-height:50%;
	border:none;
}

#header {
	padding: 30px;
	font-family: Lato, 'Open Sans', Helvetica, Arial, sans-serif;
	color: #fff;
	font-size: 100px;
	line-height: 100%;
	font-weight: 100;
}

#content {
	background:#111;
	background:rgb(0, 100, 177);
	background:rgba(0, 0, 0, 0.4);
	width:520px;
	margin:80px 30px;
	text-align:left;
}

p { 
	padding:0 30px 20px 30px; 
	color:#fff; 
	font-size:18px;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	line-height:130%;
}

a {
	color: #fc0;
	text-decoration: none;
}

a svg {
	fill: #fc0;
}

.link {
	overflow: hidden;
	margin: 10px 30px 0;
	padding: 10px 30px 20px 0;
	border-bottom: #fff 1px dotted;
	outline: none;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-size: 24px;
}

.link:hover {
	background-color: rgba(255, 255, 255, 0.4);
}

.link a * {
	vertical-align: middle;
}

#social {
	padding: 0 0 25px;
}

p a:hover {
	text-decoration: underline;
}
	
a span {
	margin-left: 10px;
}
	
#description {
	padding-bottom: 10px;
}

@media only screen and (max-device-width: 640px) {

	#content {
		width:90%;
	}

	#content *{
		font-size: 1.3em;
	}

	#header {
		font-size: 120px;
	}
}